<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="layout">

<body>

<div class="container mt-5" layout:fragment="container">
    <script>

        const getCookie = (name) => {
            let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) return match[2];
        }

        //@{delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}
        const deleteStudentHandler = (id, keyword, currentPage) => {
            let headers = new Headers();
            headers.append('Cookie', `JSESSIONID=getCookie('JSESSIONID')`)
            fetch(`/delete?id=${id}&keyword=${keyword}&page=${currentPage}`, {
                method: 'DELETE',
                headers: headers
            }).then(() => {
                location.reload();
            })
        }
    </script>
    <div class="card">
        <div class="card-header">
            <h3>Liste des etudiants</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Date Naissance</th>
                    <th>Genre</th>
                    <th>En Regle</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${students}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.prenom}"></td>
                    <td th:text="${p.email}"></td>
                    <td th:text="${p.dateNaissance}"></td>
                    <td th:text="${p.genre}"></td>
                    <td th:text="${p.enRegle}"></td>
                    <td>
                        <a th:onclick="deleteStudentHandler([[${p.id}]], [[${keyword}]], [[${currentPage}]])" class="btn btn-danger" >Supprimer</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" th:href="@{formEdit(id=${p.id})}">Modifier</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page, status:${pagesNbr}">
                    <a
                            th:class="${status.index == currentPage ? 'btn btn-success m-lg-1' : 'btn btn-outline-success m-lg-1'}"
                            th:text="${status.index+1}"
                            th:href="@{index(page=${status.index}, keyword=${keyword})}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>